body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    min-height: 100vh;
    display: grid; /* Верстка на CSS Grid */
    grid-gap: 5px;
}

.block {
    border: 1px solid #333;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    color: #333;
}

h2, h3 { margin-top: 0; }

.block-1, .block-6 { background-color: #f7d747; } /* Жовтий */
.block-2, .block-5 { background-color: #366fa9; color: white; } /* Синій */
.block-3 { background-color: #f06292; color: white; } /* Червоний */
.block-4 { background-color: #fff; } /* Білий */

.container {
    grid-template-columns: 1fr; 
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header"
        "middle"
        "footer";
}

.middle-row {
    display: grid;
    /* 4 колонки: 1fr 1fr 1fr 1fr */
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "b2 b3 b4 b5";
    gap: 5px;
    min-height: 50vh; 
}

.block-1 { grid-area: header; }
.block-6 { grid-area: footer; }
.block-2 { grid-area: b2; }
.block-3 { grid-area: b3; }
.block-4 { grid-area: b4; }
.block-5 { grid-area: b5; }

@media (min-width: 768px) and (max-width: 1023px) {
    .middle-row {
        /* Зміна структури: 2 колонки */
        grid-template-columns: 1fr 1fr; 
        grid-template-areas: 
            "b2 b3"
            "b4 b5";
        min-height: 60vh;
    }
}

@media (max-width: 767px) {
    .middle-row {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "b2"
            "b3"
            "b4"
            "b5";
        height: auto; 
    }
    .block {
        text-align: left;
    }
}

@media print {
    body { 
        background-color: white !important; 
        color: black;
    }
    .block {
        border: 1px dashed #ccc;
        box-shadow: none;
        padding: 5px;
    }
    .middle-row {
        grid-template-columns: 1fr 1fr 1fr; 
    }
    .block-5 { 
        display: none; 
    }
}
